/* Estilos Gerais */
body {
    background: #f3f3f5; /* Fundo cinza claro */
    color: #333; /* Texto preto */
    font-family: 'Ubuntu', sans-serif;
}

/* Contêiner Principal */
.container {
    background: #fff; /* Fundo branco */
    max-width: 450px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

/* Formulário */
.form {
    margin-top: 4px;
}

form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form label {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

.form input {
    height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 12px;
    border: 1px solid #999;
}

/* Botão de Cadastro */
.fore button {
    background: #ff0088; /* Vermelho */
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #fff; /* Texto branco */
    margin-top: 4px;
    margin-bottom: 4px;
}

.fore button:hover {
    background: #d00571; /* Tom mais escuro de vermelho ao passar o mouse */
}

/* Separador */
.separator {
    background: #999; /* Cinza */
    height: 2px;
    border-radius: 1px
}